[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group Mirantis-scale-team
	owner = group user/Peter Razumovsky (prazumovsky)
[access "refs/for/refs/*"]
	read = group Mirantis-scale-team
	read = group user/Peter Razumovsky (prazumovsky)
	push = group Mirantis-scale-team
	push = group user/Peter Razumovsky (prazumovsky)
	label-Code-Review = -2..+2 group Mirantis-scale-team
	label-Code-Review = -2..+2 group user/Peter Razumovsky (prazumovsky)
	label-Verified = -1..+1 group Mirantis-scale-team
	label-Verified = -1..+1 group user/Peter Razumovsky (prazumovsky)
	rebase = group Mirantis-scale-team
	rebase = group user/Peter Razumovsky (prazumovsky)
	removeReviewer = group Mirantis-scale-team
	removeReviewer = group user/Peter Razumovsky (prazumovsky)
	submit = group Mirantis-scale-team
	submit = group user/Peter Razumovsky (prazumovsky)
[access "refs/heads/*"]
	read = group Mirantis-scale-team
	read = group user/Peter Razumovsky (prazumovsky)
	create = group Mirantis-scale-team
	create = group user/Peter Razumovsky (prazumovsky)
	push = group Mirantis-scale-team
	push = +force group user/Peter Razumovsky (prazumovsky)
	pushMerge = group Mirantis-scale-team
	pushMerge = group user/Peter Razumovsky (prazumovsky)
[access "refs/tags/*"]
	push = group Mirantis-scale-team
	push = group user/Peter Razumovsky (prazumovsky)
	push = +force group user/Peter Razumovsky (prazumovsky)
