[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Peter Razumovsky (prazumovsky)
[access "refs/for/refs/*"]
	read = group user/Peter Razumovsky (prazumovsky)
	push = group user/Peter Razumovsky (prazumovsky)
	label-Code-Review = -2..+2 group user/Peter Razumovsky (prazumovsky)
	label-Verified = -1..+1 group user/Peter Razumovsky (prazumovsky)
	rebase = group user/Peter Razumovsky (prazumovsky)
	removeReviewer = group user/Peter Razumovsky (prazumovsky)
	submit = group user/Peter Razumovsky (prazumovsky)
[access "refs/heads/*"]
	read = group user/Peter Razumovsky (prazumovsky)
	create = group user/Peter Razumovsky (prazumovsky)
	push = +force group user/Peter Razumovsky (prazumovsky)
	pushMerge = group user/Peter Razumovsky (prazumovsky)
[access "refs/tags/*"]
	push = group user/Peter Razumovsky (prazumovsky)
	push = +force group user/Peter Razumovsky (prazumovsky)
